<h><b>you can reach us with:</b></h>
<p>gmail: karim2002ahmed.555@gmail.com</p>
<p>facebook:<%=link_to'https://www.facebook.com/profile.php?id=100005257382437','https://www.facebook.com/profile.php?viewas=100000686899395&privacy_source=timeline_gear_menu'%></p>
<p>github:<%=link_to'https://github.com/KarimAhmed02','https://github.com/KarimAhmed02'%></p>
<p>phone number: 01025886893</p>
<br>
<p><%=link_to'Back to home',root_path %></p>